/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}
 .main-header {
  
} 

h2 {
  text-align: center;
}

p, li {
  padding: 0 1em;
}

section {
  min-height: 250px;
  margin: 10px 0;
  /* padding: 1em; */
  text-align: center;
  hyphens: auto;
}



.main-header, footer {
  text-align: center;  
  background-color: #8E44AD;
  color:silver;
  padding: 1rem;


}

img {
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  max-width: 400px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5%;
}





/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.item {
  display: flex;
	color: white;
	padding: 15px;
	margin: 5px;	
	background: rgba(145, 144, 144, 0.74);
	border-radius: 3px;
  justify-content: center;
}


li {
  color: white;
}

.item a {
  text-decoration: none;
  color: white;
}
/* ---- Layout Containers ---- */


.container {
  width: 90%;
   margin: 0 auto;  
  max-width: 1000px;
  padding: 1em 0;
}

.glow {
  font-size: 3rem;
  color: silver;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee;
}

/* ================================= 
  Flexbox
==================================== */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width:768px) and (orientation: landscape) {

  .wrapper {
   
    }

  .main-header{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}


.menu {
  display: flex;
  flex-flow: row wrap;
}

.item {
  flex:1 auto;
  align-self: flex-start;
}

.container {
width: 90%;
margin: 0 auto;
max-width: 1000px;
display: flex;
flex-wrap:wrap;
justify-content: space-between;
align-self: stretch;
min-height: calc(100vh - 32px);
}


section {
  height: 25%;
  flex-basis: calc(50% - 10px);
}
section img {
  bottom:0;
}
}

@media (min-width:1024px) and (orientation: landscape) {
  #wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  .profile {
    display: flex;
    flex-direction: row wrap;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  section {
    flex-basis: calc(33.333% - 10px);
    

  }
  .item4 {
   order:1;
  }

  .item5 {
    text-align: left;
    font-size: 1.2rem;
  }
  
  h1 {
    /* 
     */
  }
  .glow {

  }
}